mark {
    background-color: #FFFF00;
  }

body {
    background-image: url("/static/images/iStock-4500603851.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

#append-words-here {
  backdrop-filter: blur(80px);
}

#word-columns {
  font-size: large;
  columns: 4 auto;
}

.blacklisted {
  text-decoration-line: line-through;
}

h3 {
  text-align: center;
}

h3, h5, .col-form-label, .form-check-label {
  font-family: 'Quando', serif;
}

h5, .col-form-label, .form-check-label {
  backdrop-filter: blur(100px);
}

.form-check-label {
  font-size: smaller;
}

.form-check {
  padding-top: 2%;
  padding-bottom: 1%;
}