mark {
    background-color: #FFFF00;
  }

body {
    background-image: url("/static/images/iStock-4500603851.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

#append-words-here {
  backdrop-filter: blur(100px);
}

#word-columns {
  font-size: large;
  columns: 5 auto;
}

.blacklisted {
  text-decoration-line: line-through;
}

h1 {
  text-align: center;
}

h1, h2, .col-form-label-lg, .form-check-label {
  font-family: 'Quando', serif;
  backdrop-filter: blur(100px);
}

.form-check {
  padding-top: 2%;
  padding-bottom: 1%;
}