{% extends 'base.html' %}


{% block title %}Spelling Bee Solver{% endblock %}

{% block head %}{% endblock %}

{% block body %}
  <h1>Welcome to Spelling Bee Solver</h1>

  <h2>Input today's letters here</h2>
  <form action="/ajax-create-letters" id='get-letters'>
    <p>
      What are the 7 letters for today? <input type="text" name="all-letters" maxlength="7">
    </p>
    <p>
      Which letter is required? <input type="text" name="required-letter" maxlength="1">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Did Solver miss any words today? Did Solver surface words Spelling Bee didn't accept?</h2> <!-- Revisit the copy...-->
  <form id="get-feedback">
    <p>
      <input type="text" name="word-feedback" required>
    </p>
    <p>
      <input type="radio" name="feedback" value="blacklisted" required> <!-- `required` makes radio button mandatory--> 
      <label>Blacklist</label>
      <input type="radio" name="feedback" value="whitelisted">
      <label>Whitelist</label> 
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <script src="/static/ajax_create_letters.js"></script>
{% endblock %}

{% block after_body %}{% endblock %}